//!Mixins
@mixin flex($direction, $justify, $align, $wrap: nowrap, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin text($size, $align: start, $weight: normal) {
  font-size: $size;
  text-align: $align;
  font-weight: $weight;
}

@mixin resetLink() {
  text-decoration: none;
  color: inherit;
}

@mixin resetList() {
  list-style: none;
  padding: 0;
}

//Variables
$blue-yonder: #4074AEff;
$oxford-blue: #052642ff;
$rich-blue: #041728;
$rich-black: #02090Dff;
$bright-cyan: #2decf4;
$black: #000000ff;
$white: #ffffff;

//Global
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  //This disables the blue highlight on mobile devices
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

//Removing Scrollbar
::-webkit-scrollbar {
  display: none;
}

//Progress Bar
progress {
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: linear-gradient(to left, $bright-cyan);
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: linear-gradient(to left, $bright-cyan);
  background-attachment: fixed;
}

//Navbar
.navbarSection {
  @include size(100%, 4rem);
  @include flex(row, space-between, center);
  position: fixed;
  padding: 0 2rem;
  background: $rich-black;
  left: 0;
  top: 0;
  color: $white;
  transition: ease 1s;

  .navbar-brand {
    @include flex(row, flex-start, center, $gap: 0.5rem);
    @include resetLink();

    >img {
      @include size(auto, 2rem);
    }

    >p {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }
  }

  .nav-toggle {
    cursor: pointer;

    svg {
      width: 2rem;
      height: 2rem;
      stroke: $white;
      transition: stroke ease 0.3s;

      &:hover {
        stroke: $bright-cyan;
      }
    }
  }
}

nav {
  @include flex(column, end, start, $gap: 1rem);
  @include size(100%, 1rem);
  padding: 0 15vh;
  position: fixed;
  right: -200vw;
  background: $rich-black;

  ul.links {
    @include resetList();

    li {
      @include text(12vh, $weight: 700);
    }

    a {
      position: relative;
      @include resetLink();
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      color: $white;
      transition: color ease 0.3s;
      opacity: 0;

      &:hover {
        color: $bright-cyan;
      }
    }
  }

  ul.icons {
    @include flex(row, start, center, $gap: 1rem);
    padding: 0;
    opacity: 0;
    margin-bottom: 8vh;

    li {
      @include resetList();
      @include text(5vh);

      a {
        @include resetLink();
        color: $white;
        transition: color ease 0.3s;

        &:hover {
          color: $bright-cyan;
        }
      }
    }
  }

  .close-toggle {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 4rem;
    right: 4rem;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;

    svg {
      width: 100%;
      height: 100%;
      stroke: $white;
      transition: stroke ease 0.3s;

      &:hover {
        stroke: $bright-cyan;
      }
    }
  }
}


//Home Section
.HomeSection {
  height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
  background: radial-gradient(circle, #154d78, $rich-black 50%);


  img {
    position: absolute;
    z-index: 3;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-resolution: 300dpi;
    image-rendering: optimizeQuality;
    width: 60vh;
  }

  .title-container {
    position: relative;
    height: 40vh;
    overflow: hidden;
    outline: 1px transparent;
    color: $white;
    .title-mask h1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, 445%);
    }    
  }
  div.title {
    color: transparent;
    -webkit-text-stroke: 1px $white;
    h1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  h1 {
    @include text(12vw, $weight: 900);
    text-transform: uppercase;
    line-height:10.1vh;
    white-space: nowrap;
    position: absolute;
    margin: 0;
  }
}


//!Media Queries
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  nav {
    padding: 0 8vh;

    ul.links {
      li {
        @include text(8vh, $weight: 700);
      }
    }

    ul.icons {
      margin-bottom: 5vh;

      li {
        @include text(4vh);
      }
    }
  }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  nav {
    padding: 0 5vh;

    ul.links {
      li {
        @include text(6vh, $weight: 700);
      }
    }

    ul.icons {
      margin-bottom: 10vh;

      li {
        @include text(4vh);
      }
    }

    .close-toggle {
      top: 2.5rem;
      right: 2.5rem;
    }
  }
}