* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

progress {
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: linear-gradient(to left, #82ff14);
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: linear-gradient(to left, #82ff14);
  background-attachment: fixed;
}

.navbarSection {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  position: fixed;
  padding: 0 2rem;
  background: #02090d;
  left: 0;
  top: 0;
  color: #ffffff;
  transition: ease 1s;
}
.navbarSection .navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}
.navbarSection .navbar-brand > img {
  width: auto;
  height: 2rem;
}
.navbarSection .navbar-brand > p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.navbarSection .nav-toggle {
  cursor: pointer;
}
.navbarSection .nav-toggle svg {
  width: 2rem;
  height: 2rem;
  stroke: #ffffff;
  transition: stroke ease 0.3s;
}
.navbarSection .nav-toggle svg:hover {
  stroke: #82ff14;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  flex-wrap: nowrap;
  gap: 1rem;
  width: 100%;
  height: 1rem;
  padding: 0 15vh;
  position: fixed;
  right: -200vw;
  background: #02090d;
}
nav ul.links {
  list-style: none;
  padding: 0;
}
nav ul.links li {
  font-size: 12vh;
  text-align: start;
  font-weight: 700;
}
nav ul.links a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  transition: color ease 0.3s;
  opacity: 0;
}
nav ul.links a:hover {
  color: #82ff14;
}
nav ul.icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 0;
  opacity: 0;
  margin-bottom: 8vh;
}
nav ul.icons li {
  list-style: none;
  padding: 0;
  font-size: 5vh;
  text-align: start;
  font-weight: normal;
}
nav ul.icons li a {
  text-decoration: none;
  color: inherit;
  color: #ffffff;
  transition: color ease 0.3s;
}
nav ul.icons li a:hover {
  color: #82ff14;
}
nav .close-toggle {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 4rem;
  right: 4rem;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}
nav .close-toggle svg {
  width: 100%;
  height: 100%;
  stroke: #ffffff;
  transition: stroke ease 0.3s;
}
nav .close-toggle svg:hover {
  stroke: #82ff14;
}

.HomeSection {
  height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
  background: radial-gradient(circle, #154d78, #02090d 50%);
}
.HomeSection img {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  image-resolution: 300dpi;
  image-rendering: optimizeQuality;
  width: 60vh;
}
.HomeSection div.title-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40vh;
  text-align: start;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.HomeSection div.title-container div.title-mask {
  position: relative;
  height: 70px;
  overflow: hidden;
  outline: 1px transparent;
  color: white;
}
.HomeSection div.title-container ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  white-space: nowrap;
}
.HomeSection div.title-container ul.title {
  color: transparent;
  -webkit-text-stroke: 0.4px white;
}

@media (max-width: 991.98px) {
  nav {
    padding: 0 8vh;
  }
  nav ul.links li {
    font-size: 8vh;
    text-align: start;
    font-weight: 700;
  }
  nav ul.icons {
    margin-bottom: 5vh;
  }
  nav ul.icons li {
    font-size: 4vh;
    text-align: start;
    font-weight: normal;
  }
}
@media (max-width: 767.98px) {
  nav {
    padding: 0 5vh;
  }
  nav ul.links li {
    font-size: 6vh;
    text-align: start;
    font-weight: 700;
  }
  nav ul.icons {
    margin-bottom: 10vh;
  }
  nav ul.icons li {
    font-size: 4vh;
    text-align: start;
    font-weight: normal;
  }
  nav .close-toggle {
    top: 2.5rem;
    right: 2.5rem;
  }
}/*# sourceMappingURL=app.css.map */